body {
    margin: 0%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: auto;
    max-width: 1205px;
    margin-left: auto;
    margin-right: auto;
}

.Batman,
h5 {
    background-color: #1f2937;
    color: white;
}

h4 {
    margin-right: auto;
    padding-left: 100px;
}

.header-small-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 100px;
}

.goat {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.time {
    display: flex;
    flex-direction: column;
    padding-right: auto;
}

button {
    width: 100px;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border-style: none;
    height: 25px;
    margin-top: 5px;
}

h6 {
    padding-left: 10px;
}

.description {
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    width: 355px;
    height: 197px;
    margin-left: auto;
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.villains {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.villain {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    outline-style: solid;
    outline-color: #3882f6;
}

.nemesis {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 760px;
    padding-top: 10px;
    padding-left: 55px;
    padding-right: 45px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}

p {
    color: #2f3134;
}

.joker {
    padding-right: 40px;
}

.bane {
    padding-right: 30px;
}

.scarecrow {
    padding-right: 40px;
}

h1,
p {
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.quote {
    background-color: #E5E7EB;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.knight {
    padding-left: 175px;
}

em {
    font-size: 36px;
    font-style: light italic;
    color: #566171;
}

.signup {
    background-color: #4ea9ff;
    max-width: 800px;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 60px;
}

.hotline,
h4 {
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 0%;
}

.monthly {
    color: white;
    padding-left: 100px;
}

.bottom {
    height: 25px;
    width: 85px;
    margin: auto;
    border-color: white;
    border-style: solid;
    background-color: #4ea9ff;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 0%;
    padding: 25px 0;
    color: white;
}
