body {
    margin: 0%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: auto;
}

.Batman,
h5 {
    background-color: #1f2937;
    color: white;
}

h4 {
    margin-right: auto;
    padding-left: 100px;
}

.header-small-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 100px;
}

.goat {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px;
}

.time {
    display: flex;
    flex-direction: column;
    padding-right: auto;
}

button {
    width: 100px;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
}

h6 {
    padding-left: 10px;
}

.description {
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    width: 355px;
    height: 197px;
    margin-left: auto;
}

.villain {
    width: 100px;
    height: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 0%;
    padding: 25px 0;
    color: white;
}

h1,
p {
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

